@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0D1117;
}
header{
    background-color: blue;
}
header .topo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    max-width: 1200px;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
main .container .form{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}
main .container .form form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    border: none;
    width: 350px;
}
main .container .form form input{
    margin: 5%;
    padding: 8px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    background-color: rgb(202, 202, 202);
    border: none;
}
button{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: blue;
    color: white;
}
.tarefas-add{
    padding: 10px;
    width: 350px;
    margin: 0 auto;
    border-radius: 5px;
}
.msg{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    color: white;
    border-radius: 5px;
}
.msg #adicionado{
    background-color: rgb(61, 224, 61);
}
.msg #erro{
    background-color: rgb(240, 62, 62);
}
.none{
    display: none;
}
li{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    list-style: disc;
}

#btn-apagar{
    width: 60px;
    background-color: red;
}
footer{
    background-color: blue;
    padding: 10px;
    text-align: center;
    color: white;
}
#btn-feita{
    background-color: rgb(8, 194, 8);
    width: 60px;
}
@media(max-width: 500px) {
    
}

